---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const images = [
    'Resources/Cards/1.jpg',
    'Resources/Cards/2.jpg',
    'Resources/Cards/3.jpg',
    'Resources/Cards/4.jpg',
    'Resources/Cards/5.jpg',
    'Resources/Cards/6.jpg',
    'Resources/Cards/7.jpg',
    'Resources/Cards/8.jpg',
    'Resources/Cards/9.jpg',
    'Resources/Cards/10.jpg',
    'Resources/Cards/11.jpg',
    'Resources/Cards/12.jpg',
    'Resources/Cards/13.jpg',
    'Resources/Cards/14.jpg',
    'Resources/Cards/15.jpg',
    'Resources/Cards/16.jpg',
    'Resources/Cards/17.jpg',
    'Resources/Cards/18.jpg',
    'Resources/Cards/19.jpg',
    'Resources/Cards/20.jpg',
    'Resources/Cards/21.jpg',
    'Resources/Cards/22.jpg',
    'Resources/Cards/23.jpg',
    'Resources/Cards/24.jpg',
    'Resources/Cards/25.jpg',
    'Resources/Cards/26.jpg',
    'Resources/Cards/27.jpg',
    'Resources/Cards/28.jpg',
    'Resources/Cards/29.jpg',
    'Resources/Cards/30.jpg',
    // Añadir todas las demás rutas de las imágenes aquí...
];
---

<Layout>
    <div class="imagenes">
        {images.map(imgSrc => (
            <Card imgSrc={imgSrc} />
        ))}
    </div>
    <a href="https://help.pinterest.com/es?source=gear_menu_web"><span class="material-symbols-outlined" id="question">question_mark</span></a>
</Layout>
