---
// Card.astro
const { imgSrc } = Astro.props;
---

<div class="card-image">
    <img src={imgSrc} alt="" class="img">
    <button class="button"><a href="https://github.com/juanma010901/Pinterest_Clone/tree/main/Resources/Cards">Buscar</a></button>
    <span class="material-symbols-outlined oculto-1">upload</span>
    <span class="material-symbols-outlined oculto-2">more_horiz</span>
</div>
