<nav id="navbar-pinterest">
    <a href="https://www.pinterest.com"><img src="Resources/Pinterest_Icon.png" alt="Pinterest_Icon" id="pinterest-icon"></a>
    <div class="left-itmes">
        <ul class="first">
            <li><a href="#" id="inicio">Inicio</a></li>
            <li><a href="#" id="hoy">Hoy</a></li>
            <li>
                <div class="crear">
                    <a href="#">Crear</a>
                    <span class="material-symbols-outlined">expand_more</span>
                        <ul class="menu">
                            <li>Crear un Idea Pin</li>
                            <li>Crear Pin</li>
                        </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="search">
        <div class="barra">
            <div><span class="material-symbols-outlined" id="lupa">search</span></div>
            <input type="text" placeholder="Buscar" class="finder">
        </div>
    </div>
    <div class="right-items">
        <span class="material-symbols-outlined" id="notifications">notifications</span>
        <span class="material-symbols-outlined" id="message">sms</span>
        <span class="material-symbols-outlined" id="profile-img">account_circle</span>
        <span class="material-symbols-outlined">expand_more</span>
    </div>
</nav>